body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


nav{
  display: flex;
  gap: 30px;
  font: 2rem;
  margin-bottom: 50px;
}

.home{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.home button{
  width: 150px;
}